.miniwindow-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: -webkit-center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    perspective: 500px;
    transform-style: preserve-3d;
    /*background-image: url("/deep-dream.png");*/
    background-size: cover;
    mix-blend-mode: unset;
    perspective-origin: 50% 50%;
background: linear-gradient(0deg, rgb(136, 136, 136) 0%, rgba(255,255,255,0) 100%);
    /*cursor:none;*/
}


.opacizer {
    width: 100%;
    position: absolute;
    height: 100%;
    background: white;
    opacity: 1;
    display: none;
}

.miniwindow {
    width: 100%;
    height: 300px;
    background-color: pink;
    margin: 0 1px;
    background-attachment: fixed;
    
    background-position: center;
    background-size: cover;
    -webkit-animation: mover 3s infinite   cubic-bezier(0.41, 0.01, 0.69, 0.99) alternate;
    animation: mover 3s infinite   cubic-bezier(0.41, 0.01, 0.69, 0.99) alternate;
    transition: 1s all ease;
    
}

.miniwindow.__close {
    height: 0 !important;
}
.miniwindow:hover {
    height: 80vh !important;
    opacity: 1 !important;
}
.miniwindow.__close:hover {
    height: 0 !important;
}

.cursor {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    color: white;
    position: absolute;
    font-size: 50px;
    z-index: 9;
}
.info::-webkit-scrollbar { display: none;}
.info {
-ms-overflow-style: none;
scrollbar-width: none;
}
.info {
    padding: 15px;

    position: absolute;
    width: 30vw;
    height: 20vw;
    background: #ffffff8f;
    border-bottom: 1px solid;
    z-index: 99;
    left: 75px;
    bottom: 10%;
    text-align: left;
    transition: .5s all;
    visibility: visible;
    overflow: auto;
    opacity: 1;
    transform: translateY(0) translateZ(10px);

}
.info .SquareButton{
    position: fixed;
    top: 5px;
    right: 5px;
}
.info.__close {
    transform: translateY(100px) translateZ(10px);
    opacity: 0;
    visibility: hidden;

}